*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.so
*.o
.Rproj.user
*.RDS
!Project_0/inputs/*.RDS
!Ecov_study/recruitment_functions/inputs/*.RDS
Project_0/hpcc_bash
Project_0/paper/*.pdf
Project_0/manuscript/*.docx
misspecification_study/output
/code/
Ecov_study/recruitment/results*
Ecov_study/recruitment/output*
Ecov_study/recruitment/error*
Ecov_study/recruitment_functions/results*
!Ecov_study\recruitment_functions\results_beta_fix/*.RDS
#Ecov_study/recruitment_functions/plots
Ecov_study/mortality/results
Ecov_study/mortality/untracked
!Ecov_study/mortality/inputs/*.RDS
/MSE/