*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.so
*.o
.Rproj.user
*.RDS
!Project_0/inputs/*.RDS
Project_0/hpcc_bash
misspecification_study/output
/code/
Ecov_study/recruitment/results
Ecov_study/recruitment/output*
Ecov_study/recruitment/error*
Ecov_study/mortality/untracked
!Ecov_study/mortality/inputs/*.RDS
